$grey1: #c4c4c4;//font color
$grey2: #555657;//darker bg color
$grey3: #ebebeb;//light bg color
$blue1: rgb(0, 114, 198);
$glod1: #968B3D;
$cyan1: #088;

$em: #93a1a1;
$primary: #839496;
$secondary: #586e75;
$hyper: #268bd2;
$highlight: #073642;
$bg: #002b36;

$main: #0072c6;
$mainOpacity: rgba(0,114,198,0.75);
$fnNavBarBgColor: #f8f8f8;
$white: #fff;
$black: #000;