:global html,:global body {
  margin: 0;padding: 0;
}
.navUl {
  padding: 0;
  margin: 0;
  display: flex;
  background: #fafafa;
  color: #000;
  width: 100%;
  list-style: none;
  height: 50px;
}
.navUl>li>a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 0px 10px;
}
.navUl>li:active>a {
  color: #fafafa;
}
.navUl>li {
  list-style-type: none;
  text-align: center;
  margin-right: 2px;
  line-height: 50px;
  &:hover {
    background: #999999;
  }
}
